<h4>Formularios <small>data</small></h4>
<hr>

<div class="row">
  <div class="col-md-12 text-center">
      <div class="btn-group" role="group" aria-label="Basic example">
          <button type="button" class="btn btn-secondary" [routerLink]="['inventario']">Inventario</button>
          <button type="button" class="btn btn-secondary" [routerLink]="['pedidos']" >Pedidos</button>
          <button type="button" class="btn btn-secondary"[routerLink]="['datos/nuevo']">Datos</button>
          <button type="button" class="btn btn-secondary"[routerLink]="['inv-material']">Inventario Material</button>
        </div>

  </div>
</div>

<router-outlet></router-outlet>


            

